<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Data check</title>
</head>
<body>
<h1>Check RDF Data</h1>
<form action="#" name="dataFormat" method="post" th:action="@{/api/v1/data/check}">
    <textarea rows="20" cols="30" name="data" placeholder="data"></textarea>
    <br/>
    Data format: <select name="dataFormat" th:remove="all-but-first">
      <option th:each="dataFormat : ${dataFormats}"
              th:value="${dataFormat}" th:text="${dataFormat}">Format1</option>
      <option>Format2</option>
    </select>
    <br/>
    Result format: <select name="resultFormat" th:remove="all-but-first">
    <option th:each="dataFormat : ${dataFormats}"
            th:value="${dataFormat}" th:text="${dataFormat}">Format1</option>
    <option>Format2</option>
   </select>
    <button type="submit">Submit</button>
</form>
</body>
</html>