<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<h1>SHACLEX API</h1>
<ul>
    <li><a href="/options">Available options</a></li>
    <li><a href="/dataInfo">Info about RDF Data</a></li>
    <li><a href="/dataCheck">Check RDF Data (syntax only)</a></li>
    <li><a href="/schemaInfo">Info about Schemas</a></li>
    <li><a href="/schemaCheck">Check Schemas</a></li>
    <li><a href="/validate">Validate RDF Data with a Schema</a></li>
    <li><a href="about.html">About SHACLEX</a></li>
</ul>

</body>
</html>