<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link href="../static/css/apiShaclex.css"
          th:href="@{/css/apiShaclex.css}"
          rel="stylesheet" />
</head>
<body>
<h1>SHACLEX API - Available options</h1>

<p>Schema engines</p>
<ul th:each="engine: ${engines}">
    <li th:text="${engine}">ShEx</li>
</ul>
<p>Schema formats</p>
<ul th:each="schemaFormat: ${schemaFormats}">
    <li th:text="${schemaFormat}">ShExC</li>
</ul>
<p>Data formats</p>
<ul th:each="dataFormat: ${dataFormats}">
    <li th:text="${dataFormat}">TURTLE</li>
</ul>

</body>
</html>