<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Schema check</title>
</head>
<body>
<h1>Check Schema</h1>
<form action="#" name="schemaFormat" method="post" th:action="@{/api/v1/schema/check}">
    <textarea rows="20" cols="30" name="schema" placeholder="schema"></textarea>
    <br/>
    <label>Schema Engine: </label>
 	<select name="schemaEngine" th:remove="all-but-first">
      <option th:each="schemaEngine : ${schemaEngines}"
              th:value="${schemaEngine}" th:text="${schemaEngine}">Engine1</option>
      <option>Engine2</option>
    </select>
    <br/>
    Schema format: <select name="schemaFormat" th:remove="all-but-first">
      <option th:each="schemaFormat : ${schemaFormats}"
              th:value="${schemaFormat}" th:text="${schemaFormat}">Format1</option>
      <option>Format2</option>
    </select>
    <br/>
    Result format: <select name="resultFormat" th:remove="all-but-first">
      <option th:each="resultFormat : ${schemaFormats}"
              th:value="${resultFormat}" th:text="${resultFormat}">Format1</option>
      <option>Format2</option>
    </select>
    <br/>
    <button type="submit">Submit</button>
</form>
</body>
</html>